<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<title>Sobat Gurun Tech PHP Code Generator</title>
	<meta content="CRUD and report generation with beautiful UI. A powerful tool to increase web development productivity, saves a lot of time and increase your profit" name="description">
	<link rel="icon" href="{{ assets('frontend/assets/images/favicon.png')}}" type="image/png" />
	<link rel="icon" href="{{ assets('frontend/assets/images/apple-touch-icon.png')}}" type="image/png" />
	<link href="{{ assets('frontend/assets/plugins/aos/aos.css') }}" rel="stylesheet">
	<link href="{{ assets('assets/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ assets('assets/css/bootstrap-icons.css') }}" rel="stylesheet">
	<link href="{{ assets('frontend/assets/css/style.css') }}" rel="stylesheet">
</head>
<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top">
	<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

		<a href="{{ route('index') }}" class="logo d-flex align-items-center">
			<img src="{{ assets('frontend/assets/images/logo.png')}}" alt="">
			<span>Sobat gurun Tech</span>
		</a>

		<nav id="navbar" class="navbar">
			<ul>
				<li><a class="nav-link scroll-to active" href="#cover">Home</a></li>
				{# <li><a class="nav-link scroll-to" href="#about">About Us</a></li>
				<li><a class="nav-link scroll-to" href="#products">Products</a></li>
				<li><a class="nav-link scroll-to" href="#features">Features</a></li>
				<li><a class="nav-link scroll-to" href="#contact">Contact</a></li> #}
				{% if auth.isLogin %}
					<li><a class="nav-link" href="{{route('home')}}">Dashboard</a></li>
				{% else %}
					<li><a href="{{route('login')}}">Sign In</a></li>
					<li><a class="signup-btn" href="{{route('register')}}">Sign Up</a></li>
				{% endif %}
			</ul>
			<i class="bi bi-list mobile-nav-toggle"></i>
		</nav><!-- .navbar -->
	</div>
</header><!-- End Header -->

<!-- ======= Cover Section ======= -->
<section id="cover" class="cover d-flex align-items-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 d-flex flex-column justify-content-center">
				<h1 data-aos="fade-up">Innovation Is The Future</h1>
				<h2 data-aos="fade-up" data-aos-delay="400">A powerful tool to increase web development productivity, saves
					alot of time and
					increase your profit.</h2>
				<div data-aos="fade-up" data-aos-delay="600">
					<div class="text-center text-lg-start">
						{# <a href="#about"
						   class="btn-start scroll-to d-inline-flex align-items-center justify-content-center align-self-center">
							<span>Get Started</span>
							<i class="bi bi-arrow-right"></i>
						</a> #}
					</div>
				</div>
			</div>
			<div class="col-lg-6 cover-img" data-aos="zoom-out" data-aos-delay="200">
				<img src="{{ assets('frontend/assets/images/cover.png')}}" class="img-fluid" alt="">
			</div>
		</div>
	</div>
</section><!-- End Cover -->

{# <main id="main">
	<!-- ======= About Us Section ======= -->
	<section id="about" class="about">
		<div class="container" data-aos="fade-up">

			<header class="section-title">
				<p>About Us</p>
			</header>

			<div class="row content">
				<div class="col-lg-6">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut egestas dignissim mauris,
						quis mattis magna efficitur ut. Nam diam arcu, fringilla vulputate elit id, ultricies
						venenatis metus. Nunc pulvinar a turpis sit amet sagittis. Sed a pulvinar dui.
						Morbi hendrerit purus ac felis condimentum, at volutpat tellus laoreet. Nulla vitae erat quam.
						Praesent elit risus, ornare et elit a, rhoncus ullamcorper nulla. Nunc quis ex nisl.
					</p>
					<ul>
						<li><i class="bi bi-arrow-right-circle-fill"></i> Morbi vel sollicitudin elit, non porttitor dui.</li>
						<li><i class="bi bi-arrow-right-circle-fill"></i> Vestibulum a consequat augue. Duis varius pellentesque.
						</li>
						<li><i class="bi bi-arrow-right-circle-fill"></i> Aenean fermentum aliquet aliquam. Duis eget ultricies mi
						</li>
					</ul>
				</div>
				<div class="col-lg-6 pt-4 pt-lg-0">
					<p>
						Ullamco Suspendisse aliquet suscipit odio, vestibulum placerat odio pulvinar vel.
						Nulla quis lacus sodales, ullamcorper nunc ut, ultricies ante. Sed maximus iaculis viverra.
						Sed a consectetur diam. Pellentesque vel massa eu odio pharetra maximus vitae a enim.
						Nullam placerat placerat elit, ut posuere tortor faucibus vitae.
					</p>
					<p>
						Donec nisi lorem, mattis sit amet vulputate iaculis, viverra in felis. Mauris quis sagittis dolor.
						Aliquam erat volutpat. Sed nec cursus nisi. Sed dapibus neque in dui luctus volutpat.
						Maecenas efficitur cursus fringilla. Nam nec semper dui. Sed nec fermentum felis.
						Donec at bibendum purus. Suspendisse vulputate elit sed nibh congue, id pretium tellus pulvinar.
					</p>
					<a href="#" class="btn-learn-more">Learn More</a>
				</div>
			</div>

		</div>
	</section><!-- End About Us Section -->

	<!-- ======= Why Us Section ======= -->
	<section id="about-details" class="about-details section-bg">
		<div class="container" data-aos="fade-up">

			<div class="row">

				<div class="col-lg-5">
					<img src="{{ assets('frontend/assets/images/processor.png')}}" class="img-fluid" alt="">
				</div>

				<div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

					<div class="content">
						<h3>Maecenas sit amet enim non </h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et malesuada nunc. Morbi vestibulum
							neque ac finibus cursus. Sed suscipit dapibus consectetur.
						</p>
					</div>

					<div class="accordion-list">
						<ul>
							<li>
								<a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">
									Curabitur eu lacus augue. Nullam vel quam?
									<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
								</a>
								<div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
									<p>
										Mauris euismod libero ac tincidunt gravida. Nam ac pretium odio. Proin id lectus tempor
										ligula tincidunt auctor. Integer ut dolor non magna convallis congue.
									</p>
								</div>
							</li>

							<li>
								<a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">
									Suspendisse ut neque eget diam eleifend?
									<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
								</a>
								<div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
									<p>
										Nam congue congue dictum. Nam commodo tortor nec velit facilisis sollicitudin id at orci.
										Mauris blandit velit nisi, ut facilisis leo iaculis ac. In volutpat massa at massa elementum,
										a porttitor mi pharetra. Nulla facilisi. Phasellus id egestas urna, et tincidunt velit.
									</p>
								</div>
							</li>

							<li>
								<a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">
									Donec elementum ipsum ac egestas tempus?
									<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i>
								</a>
								<div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
									<p>
										Aenean luctus ac nunc quis dignissim. Sed condimentum ligula velit, in tempus neque placerat sit
										amet.
										Pellentesque vulputate tellus ut mi fringilla, quis egestas nibh gravida.
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</section><!-- End Why Us Section -->

	<!-- ======= intro section ======= -->
	<section id="products" class="products">
		<div class="container" data-aos="fade-up">
			<header class="section-title">
				<p>Our Products</p>
			</header>

			<div class="row">

				<div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
					<div class="box">
						<img src="{{ assets('frontend/assets/images/product1.png')}}" class="img-fluid" alt="">
						<h3>Class aptent taciti sociosqu</h3>
						<p>Duis aliquam condimentum leo, at consequat ex. Morbi faucibus ligula.</p>
					</div>
				</div>

				<div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
					<div class="box">
						<img src="{{ assets('frontend/assets/images/product2.png')}}" class="img-fluid" alt="">
						<h3>Proin non rutrum orci</h3>
						<p>Etiam euismod congue elit, id hendrerit nibh cursus vitae. Mauris tempus.</p>
					</div>
				</div>
				<div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
					<div class="box">
						<img src="{{ assets('frontend/assets/images/product3.png')}}" class="img-fluid" alt="">
						<h3> Donec suscipit euismod.</h3>
						<p>In aliquet, mi a bibendum consequat, nunc tortor dictum diam, interdum luctus.</p>
					</div>
				</div>
			</div>
		</div>
	</section><!-- end services section -->

	<!-- ======= features section ======= -->
	<section id="features" class=" features pt-65 gray-bg-1">
		<div class="container" data-aos="fade-up">
			<header class="section-title">
				<p>Main Features</p>
			</header>
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="image">
						<img src="{{ assets('frontend/assets/images/feature1.png')}}" alt="feature">
					</div>
				</div>
				<div class="col-xxl-5 col-lg-6 offset-xxl-1">
					<div class="content-wrapper">
						<div class="section-title">
							<h1 class="mb-50">Increase your productivity </h1>
						</div>
						<div class="single">
							<div class="icon-style icon -rotate-90">
								<i class="bi bi-cloud-check"></i>
							</div>
							<div class="content">
								<h4>Responsive admin and users interface</h4>
								<p>Nulla ultricies urna pulvinar purus vulputate feugiat ac quis orci. Nam id sollicitudin nisl.</p>
							</div>
						</div>
						<div class="single">
							<div class="icon-style icon">
								<i class="bi bi-bullseye"></i>
							</div>
							<div class="content">
								<h4>Well structured project</h4>
								<p>Donec porta et magna at mattis. Proin urna enim, venenatis vel justo eu, fermentum congue neque.</p>
							</div>
						</div>
						<div class="single">
							<div class="icon-style icon -rotate-90">
								<i class="bi bi-lock"></i>
							</div>
							<div class="content">
								<h4>Build in secured auth</h4>
								<p>Quisque velit nisl, iaculis sed feugiat vel, hendrerit id ex. In non mauris vel eros scelerisque .</p>
							</div>
						</div>
						<div class="single">
							<div class="icon-style icon -rotate-90">
								<i class="bi bi-cloud"></i>
							</div>
							<div class="content">
								<h4>Auto Detect Relational database</h4>
								<p>Maecenas egestas felis id felis viverra laoreet. Maecenas pulvinar dapibus nunc at rutrum.</p>
							</div>
						</div>
						<div class="single">
							<div class="icon-style icon -rotate-90">
								<i class="bi bi-cpu"></i>
							</div>
							<div class="content">
								<h4>User Roles Management</h4>
								<p>Morbi aliquet, libero eget dapibus egestas, dolor turpis feugiat leo, dictum congue sem libero. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- ======= Contact Section ======= -->
	<section id="contact" class="contact">
		<div class="container" data-aos="fade-up">
			<header class="section-title">
				<p>Contact Us</p>
			</header>
			<div class="row gy-4">
				<div class="col-lg-6">
					<div class="row gy-4">
						<div class="col-md-6">
							<div class="contact-box">
								<i class="bi bi-geo-alt"></i>
								<h3>Address</h3>
								<p>5520 14th St W,<br>Florida, FL 34207</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="contact-box">
								<i class="bi bi-telephone"></i>
								<h3>Call Us</h3>
								<p>(941) 756-6060<br>(941) 866-6061</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="contact-box">
								<i class="bi bi-envelope"></i>
								<h3>Email Us</h3>
								<p>
									<a href="#">info@example.com</a><br>
									<a href="#">support@example.com</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<form action="#" method="post" class="contact-form">
						<div class="row gy-4">
							<div class="col-md-6">
								<input type="text" name="name" class="form-control" placeholder="Your Name" required>
							</div>
							<div class="col-md-6 ">
								<input type="email" class="form-control" name="email" placeholder="Your Email" required>
							</div>
							<div class="col-md-12">
								<input type="text" class="form-control" name="subject" placeholder="Subject" required>
							</div>
							<div class="col-md-12">
								<textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
							</div>
							<div class="col-md-12">
								<button type="submit">Send Message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section><!-- End Contact Section -->
</main><!-- End main --> #}

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
	<div class="footer-headline">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12 text-center">
					<h4>Endless possibilities with technology.</h4>
					<p>Donec hendrerit at lacus vitae porta. In eget condimentum augue, in fermentum elit.</p>
				</div>
			</div>
		</div>
	</div>

	{# <div class="footer-top">
		<div class="container">
			<div class="row gy-4">
				<div class="col-lg-5 col-md-12 footer-data">
					<a href="{{ route('index') }}" class="logo d-flex align-items-center">
						<img src="{{ assets('frontend/assets/images/logo.png')}}" alt="">
						<span>Sobat gurun Tech</span>
					</a>
					<p>
						Nunc convallis consectetur turpis, sit amet auctor eros venenatis in.
						Etiam in ultrices sapien, sit amet viverra erat. Mauris dignissim urna
						sapien, vitae semper quam auctor et. In sagittis, lorem et tempus cursus,
						eros tellus faucibus tortor, id venenatis nisl quam a urna.
						Pellentesque dictum sem vitae eleifend vehicula. Aenean dolor nisi, posuere ut lobortis.
						a, mollis ac purus. Etiam maximus mollis sem vitae malesuada.
					</p>
					<div class="social-links mt-3">
						<a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
						<a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
						<a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
						<a href="#" class="linkedin"><i class="bi bi-google"></i></a>
						<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
					</div>
				</div>

				<div class="col-lg-2 col-6 footer-links">
					<h4>Useful Links</h4>
					<ul>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#">About Us</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Products</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Portfolio</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Blog</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-6 footer-links">
					<h4>Our Services</h4>
					<ul>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Professional Services</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Training</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Consulting</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Software Development</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Production</a></li>
						<li><i class="bi bi-chevron-right"></i> <a href="#">Management</a></li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
					<h4>Contact Us</h4>
					<p>
						5520 14th St W <br>
						Florida, FL 34207<br>
						United States <br><br>
						<strong>Phone:</strong> (941) 756-6060<br>
						<strong>Email:</strong> info@example.com<br>
					</p>
				</div>
			</div>
		</div>
	</div> #}

	<div class="container">
		<div class="copyright">
			&copy; {{ "now"|date("Y") }} Sobat gurun Tech. All Rights Reserved
		</div>
	</div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script src="{{ assets('frontend/assets/plugins/aos/aos.js')}}"></script>
<script src="{{ assets('assets/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ assets('frontend/assets/js/main.js')}}"></script>

</body>

</html>
