
<li>
    <a href="{{ route('bookings.index') }}">
        <div class="parent-icon"><i class='bi bi-palette'></i></div>
        <div class="parent-menu">{{ lang.bookings_menu }}</div>
    </a>
</li>

<li>
    <a href="{{ route('buses.index') }}">
        <div class="parent-icon"><i class='bi bi-journal-code'></i></div>
        <div class="parent-menu">{{ lang.buses_menu }}</div>
    </a>
</li>

<li>
    <a href="{{ route('payments.index') }}">
        <div class="parent-icon"><i class='bi bi-hdd'></i></div>
        <div class="parent-menu">{{ lang.payments_menu }}</div>
    </a>
</li>

