<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ lang.tbusers }}</title>
    {% include 'partials/reportcss.twig' %}
</head>
<body>
<h4>{{ lang.tbusers }}</h4>
<div class="vItems">
    <table class="table">
        <thead>
        <tr>
            <th>{{ lang.tbusers_username }}</th>                 
        <th>{{ lang.tbusers_password }}</th>                 
        <th>{{ lang.tbusers_name }}</th>                 
        <th>{{ lang.tbusers_role }}</th>                 
        <th>{{ lang.tbusers_nik }}</th>                 
        <th>{{ lang.tbusers_no_hp }}</th>                 
        <th>{{ lang.tbusers_email }}</th>                 
        <th>{{ lang.tbusers_jenis_kelamin }}</th>                 
        
        </tr>
        </thead>
        <tbody>
        {% for row in tbusers %}
            <tr>
                <td>{{ row.username }}</td>              
            <td>{{ row.password }}</td>              
            <td>{{ row.name }}</td>              
            <td>{{ row.role }}</td>              
            <td>{{ row.nik }}</td>              
            <td>{{ row.no_hp }}</td>              
            <td>{{ row.email }}</td>              
            <td>{{ row.jenis_kelamin }}</td>              
            
            </tr>
        {% endfor  %}
        </tbody>
    </table>
</div>
</body>